

main {
    background-color: #EDEAED;
    padding-top: 20px;
    /*padding-bottom: 20px;*/
    /*height: 100%;*/
    display: inline-block;
    width: 100%;
    float: left;
}
main .container{
    width: 1200px;
}
.banner_box{
    padding-top: 64px;
    min-width: 1200px
}
.banner_box img{
    width: 100%;
}
.menu {
    width: 200px;
    background-color: #fff;
    margin-right: 10px;
    min-height: 400px;
    float: left;
    position: sticky;
    top: 80px;
}

.clear {
    clear: both;
}
.ft{
    height: 20px;
    float: left;
    width: 100%;
    position: relative;
    z-index: 999;
    background-color: #EDEAED;
}
.content {
    width: 990px;
    background-color: #fff;
    min-height: 977px;
    float: right;
    /*overflow: hidden;*/
}
.content1{
    min-height: 865px;
}
.content img{
    max-width: 90%
}
.menu p {
    height: 46px;
    line-height: 46px;
    font-size: 16px;
    color: #000;
    padding-left: 20px;
    cursor: pointer;
}

.menu p.active {
    background-color: #F35F5D;
    color: #fff;
}

.menu p:hover {
    background-color: #F35F5D;
    color: #fff;
}

.content .position {
    line-height: 45px;
    padding-left: 30px;
    color: #737373;
    font-size: 14px;
    border-bottom: 1px solid #E2E2E2;
    cursor: pointer;
}


/* 鍏充簬鎴戜滑 */

.aboutUs,
.dszzc,
.zyjj,
.zywh {
    padding: 20px 30px;
    overflow: auto;
    height: 100%;
    /*float: left;*/
}

.aboutTitle{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    line-height: 1;
    margin-top: 20px;
    text-align: center;
}

/* .aboutUs h1 {
    font-size: 20px;
    color: #000;
    font-weight: bold;
    line-height: 1;
    margin-bottom: 20px;
} */

.aboutUs p {
    font-size: 14px;
    line-height: 22px;
    color: #000;
    margin-bottom: 18px;
}

.aboutUs p a {
    color: #F35F5D;
}

.aboutUs p a i.href {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-image: url('../../img/index/href.png');
    background-size: 100%;
    background-repeat: no-repeat;
    position: relative;
    top: 3px;
}

.course {
    padding: 30px 40px;
}


/* 杞欢 */

.softwareItem {
    width: 952px;
    height: 141px;
    background: rgba(255, 255, 255, 1);
    margin-right: 20px;
    margin-left: 18px;
    border-bottom: 1px solid #E2E2E2;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 21px 0px 12px;
    cursor: pointer;
}

.softwareItem.active {
    border-radius: 5px;
    box-shadow: 0px 0px 8px 0px rgba(0, 56, 56, 0.28);
    border: 2px solid #F35F5D;
}

.softwareItem.active h4 {
    color: #F35F5D;
}

.softImg {
    /*width: 134px;*/
    height: 100px;
    background-color: seagreen;
    margin-right: 20px;
    max-width: unset !important
}

.softSummary>h4 {
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: rgba(0, 0, 0, 1);
    line-height: 22px;
    margin-bottom: 18px;
}

.softSummary>p {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(115, 115, 115, 1);
    line-height: 22px;
}


/* app璇︽儏椤� */

.appTop {
    display: flex;
    justify-content: center;
    /*height: 250px;*/
    padding-top: 30px;
    border-bottom: 1px dashed #E2E2E2;
}

.appTop>img {
    /*width: 144px;*/
    height: 114px;
    margin-right: 20px;
    max-width: unset !important
}

.softwareApp {
    margin: 0 30px;
}

.softwareApp::-webkit-scrollbar {
    /*婊氬姩鏉℃暣浣撴牱寮�*/
    width: 5px;
    /*楂樺鍒嗗埆瀵瑰簲妯珫婊氬姩鏉＄殑灏哄*/
    height: 1px;
}

.softwareApp::-webkit-scrollbar-thumb {
    /*婊氬姩鏉￠噷闈㈠皬鏂瑰潡*/
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 5px #666;
    background: #999;
}

.softwareApp::-webkit-scrollbar-track {
    /*婊氬姩鏉￠噷闈㈣建閬�*/
    -webkit-box-shadow: inset 0 0 5px #666;
    border-radius: 10px;
    background: #EDEDED;
}
.appDetail{
    /*padding-right: 150px;*/
    position: relative;
    padding-bottom: 20px;
}
.appDetail .qrCode{
    width: 110px;
    position: relative;
    left: 0;
        margin-top: -10px;
}
.appDetail .qrCode>img{
    width: 110px;
    max-width: initial;
}
.appDetail button{
    width:110px;
    height:36px;
    background-color: #F35F5D;
    font-size:16px;
    color: #fff;
    top: 35px;
    border: none;
    cursor: pointer;
    margin-top: 20px
}
.appDetail .qrCode span{
    font-size: 12px;
    color: #737373;
    display: inline-block;
    width: 100%;
    text-align: center;
    float: right;
}
.appDetail>h4 {
    font-size: 18px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
    margin-bottom: 14px;
}

.appDetail>p {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(51, 51, 51, 1);
    line-height: 22px;
    margin-bottom: 16px;
}

.appDetail>div {
    /*width: 100%;*/
    height: 75px;
    float: left;
        margin-bottom: 45px;
    margin-top: 10px;
    /*background: rgba(229, 245, 245, 1);*/
    /*opacity: 0.6;*/
    /*padding: 9px 0;*/
}

.appIntroduceBox {
  
}

.appIntroduce {
    height: 25px;
    font-size: 12px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(115, 115, 115, 1);
    line-height: 25px;
    display: flex;
    width: 250px;
    /*border-bottom: 1px solid #EDEDED;*/
}
.appIntroduce:first-child{
    /*border-bottom:none;*/
    /*margin-bottom: 10px;*/
}
.appIntroduce p{
    width: 100px;
    text-align: center;
    background-color: #F5F5F5;
    color: #696969;
    border-bottom: 1px solid #EDEDED;
}
.appIntroduce p:last-of-type,
.appIntroduce span:last-of-type{
    border-bottom:none;
}
.appIntroduce span {
    font-size: 12px;
    font-family: Microsoft YaHei;
    font-weight: bold;
    color: #333333;
    padding-left: 22px;
    width: 150px;
    border-bottom: 1px solid #EDEDED;
}

.appIntroduce>div:first-child {
    width: 145px;
    border-right: 1px groove #666666;
    padding-left: 12px;
}

.appIntroduce>div:nth-child(2) {
    width: 166px;
    border-right: 1px groove #666666;
    padding-left: 23px;
}

.appIntroduce>div:nth-child(3) {
    width: 166px;
    padding-left: 23px;
}

.appIntroduce {
    display: flex;
    flex-wrap: wrap;
        float: left;
    margin-right: 120px;
}

.appIntroduce>div {
    display: flex;
}

.allImg {
    display: flex;
    justify-content: space-between;
    padding: 35px 0 49px 0;
}

.allImg img {
    width: 100%;
    /*height: 348px;*/
}
.allImg .swiper-slide{
    text-align: center;
}


/* 鍜ㄨ */

.messageDetail {
    margin: 0 32px 0 30px;
    padding: 25px 0;
    border-bottom: 1px dashed #E2E2E2;
    cursor: pointer;
}

.messageTop {
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 22px;
}

.messageTop>span {
    color: #737373;
    font-weight: 400;
    float: right;
}

.messageTop img {
    margin-right: 4px;
}

.messageAtc {
    color: #F35F5D !important;
}

.messageTop>img {
    width: 15px;
    height: 18px;
    margin-left: 8px;
}

.messageBot {
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(115, 115, 115, 1);
    line-height: 17px;
}
.newsInfoTitle h1{
    font-size: 20px;
    color: #000;
    font-weight: bold;
    line-height: 1;
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
}
.newsInfoTitle span{
    display: block;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
    font-size:12px;
    font-family:Microsoft YaHei;
    font-weight:400;
    color:rgba(115,115,115,1);

}
/* 闂瑙ｇ瓟 */

.questionItem {
    height: 85px;
    border-bottom: 1px dashed #E2E2E2;
    margin: 0px 32px 0 30px;
    padding: 23px 0 19px 0;
}

.questionItem p {
    width: 913px;
    font-size: 14px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(115, 115, 115, 1);
    line-height: 14px;
    overflow: hidden;
    /*瓒呭嚭閮ㄥ垎闅愯棌*/
    white-space: nowrap;
    /*涓嶆崲琛�*/
    text-overflow: ellipsis;
    /*瓒呭嚭閮ㄥ垎鐪佺暐鍙锋樉绀�*/
}

.questionTop {
    margin-bottom: 13px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    font-weight: 400;
    color: rgba(0, 0, 0, 1);
    line-height: 22px;
    display: flex;
    justify-content: space-between;
}

.questionTop img {
    margin-right: 4px;
}

.quesAtiv {
    font-weight: bold;
    color: #F35F5D !important;
}


/* 褰╃エ鐧剧 */

.lotteryBox {
    padding: 20px 30px;
    /* display: none; */
    height: 100%;
}

.choseLottery {
    display: flex
}

.choseLottery>div {
    width: 120px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    cursor: pointer;
}

.choseLottery>.active {
    border-bottom: 2px solid #F35F5D;
}

.l_contentBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 15px 0;
    overflow: auto;
    height: calc(100% - 95px);
    align-content: flex-start;
}

.l_content {
    width: 450px;
    height: 120px;
    margin-bottom: 15px;
    border: 1px solid #E2E2E2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.l_content>img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    margin-right: 10px;
    background-size: cover
}
.l_content>div{
    width: 325px;
}
.l_content h4 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.l_content p {
    font-size: 12px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

.lotterMenu {
    overflow: auto;
    max-height: 977px;
}

.lotterMenu ul {
    background-color: #f7f7f7;
}

.lotterMenu ul>li {
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 0 10px;
    border-bottom: 1px dashed #E2E2E2;
    cursor: pointer;
}


/* 璇︽儏椤� */

.lotteryDetailBox {
    padding: 20px 30px;
}

.lottery_top {
    display: flex;
    justify-content: center;
    align-items: center;
}

.lottery_top>img {
    width: 85px;
    height: 85px;
    border-radius: 50%;
    margin-right: 20px;
}
.lottery_top>div{
    width:825px;
}
.lottery_top h4 {
    font-size: 20px;
    margin-bottom: 5px;
    font-weight: bold;
}

.lottery_top p {
    font-size: 14px;
}

.moreDetail {
    display: flex;
    flex-wrap: wrap;
    margin-left: 105px;
    width: 680px;
    margin-top: 10px;
}

.moreDetail>div {
    width: 25%;
    height: 35px;
    text-align: center;
    line-height: 35px;
    font-size: 14px;
    border-bottom: 1px solid #E2E2E2;
}

.moreDetail>div:nth-of-type(odd) {
    background-color: #E5F5F5;
}

.moreDetail>div:last-child {
    width: 75%;
}

.ruleBox {
    width: 850px;
    margin: 20px 0 0 50px;
}

.ruleTop {
    display: flex;
    border: 1px solid #E2E2E2;
    cursor: pointer;
}

.ruleTop>div {
    width: 50%;
    height: 35px;
    text-align: center;
    line-height: 35px;
}

.ruleTop>div:first-child {
    border-right: 1px solid #E2E2E2;
}

.ruleBox>p {
    margin-top: 20px;
}


/* 骞垮憡鍚堜綔 */

.adBox {
    padding: 30px 15px;
}

.adBox>p {
    margin-left: 30px;
}

table,
th,
td {
    border: 1px solid #E2E2E2;
}

.adTable {
    width: 100%;
    margin-top: 20px;
}

th,
td {
    height: 50px;
    text-align: center;
    width: 16.6%;
}

td img {
    width: 100px;
    height: 30px;
    cursor: pointer;
}
/* 鏀惧ぇ鍥剧墖 */
.bigimg {
    /* width: 600px !important;
    height: unset !important;
    max-height: 600px; */
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: none;
    z-index: 9999;
    border: 5px solid #fff;
}

.mask {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0 / 0.5);
    filter: Alpha(opacity=50);
    z-index: 1000;
    transition: all 1s;
    display: none
}

.mask:hover {
    cursor: zoom-out
}

.mask>img {
    position: fixed;
    right: 10px;
    top: 10px;
    width: 30px;
}

.mask>img:hover {
    cursor: pointer
}


/* 鍦ㄧ嚎鐣欒█ */

.feedbackBox {
    width: 760px;
    margin: 0 auto;
    margin-top: 30px;
}

.feedbackBox div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.feedbackBox div:nth-child(3) {
    align-items: unset;
}

.feedbackBox lable {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 20px;
}

.feedbackBox input {
    padding-left: 15px;
}

#name,
#contact {
    width: 660px;
    height: 45px
}

#content {
    width: 660px;
    height: 200px;
    padding: 15px;
}

#yzm {
    width: 300px;
    height: 45px;
}

.submit {
    width: 300px;
    height: 45px;
    margin-left: 120px;
}


/* 鍒嗛〉 */

.zhuyingMess {
    width: auto;
    text-align: center;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    border-radius: 4px;
}

.pagination>li {
    display: inline;
}

.pagination>li>a,
.pagination>li>span {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #666;
    background-color: #fff;
    border: 1px solid #ddd;
    margin-left: -1px;
}

.pagination>.disabled>a,
.pagination>.disabled>a:focus,
.pagination>.disabled>a:hover,
.pagination>.disabled>span,
.pagination>.disabled>span:focus,
.pagination>.disabled>span:hover {
    color: #777;
    cursor: not-allowed;
    background-color: #fff;
    border-color: #ddd;
}

.pagination>li:first-child>a,
.pagination>li:first-child>span {
    margin-left: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.pagination>.active>span {
    background: #F35F5D;
    color: #fff;
}

.pagination>.active>span:hover {
    background: #F35F5D;
}

.pagination>li>a {
    color: #F35F5D;
}

.pagination>li>a:hover {
    color: #F35F5D;
}

.pagination>li:first-child>span {
    font-family: 寰蒋闆呴粦;
}

.ruleTop .active {
    background: #E5F5F5;
}


/* 鍦ㄧ嚎鐣欒█ */

.feedbackBox {
    width: 760px;
    margin: 0 auto;
    margin-top: 30px;
}

.feedbackBox div {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.feedbackBox div:nth-child(3) {
    align-items: unset;
}

.feedbackBox label {
    display: inline-block;
    width: 100px;
    text-align: right;
    margin-right: 20px;
}

#name,
#contact {
    width: 660px;
    height: 45px
}

#content {
    width: 660px;
    height: 200px;
}

#yzm {
    width: 300px;
    height: 45px;
}

.submit {
    width: 300px;
    height: 45px;
    margin: 10px 0 0 120px;
    background-color: #F35F5D;
    border: 0;
    color: #ffffff;
    cursor: pointer;
}

input,textarea{
    border: 1px solid #eee;
}
input::-webkit-input-placeholder { /* WebKit browsers */
    color:#ccc; 
} 
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #ccc; 
} 
input::-moz-placeholder { /* Mozilla Firefox 19+ */ 
    color:#ccc; 
} 
input:-ms-input-placeholder { /* Internet Explorer 10+ */ 
    color: #ccc; 
}
/* 鎻掍欢 */

[id^=NotiflixReportWrap] a#NXReportButton {
    background-color: #F35F5D !important;
    margin: 5px auto;
    display: flex;
    float: unset !important;
    width: 110px;
    justify-content: center;
    align-items: center;
    height: 40px
}
[id^=NotiflixReportWrap]>*>p{
    display: none;
}
[id^=NotiflixReportWrap]>*>h5{
    margin-bottom: 15px !important
}
[id^=NotiflixReportWrap]>div[class*="-content"]>div[class$="-icon"] svg {
    fill: #F35F5D !important;
}

.nodata {
    width: 200px;
    display: block;
    height: 200px;
    margin: 0 auto;
    margin-top: 200px;
}

.nodata span {
    position: relative;
    left: 60px;
    top: -95px;
    font-weight: bold;
    color: #999;
}


 .nextLink{
    height: 46px;
    border-top: 1px solid #E6E6E6;
    padding:0 40px;
    line-height: 46px
}
 .nextLink a{
    color: #333333
    font-size: 14px;
}

 .nextLink a span{
    color: #000000;
    font-size: 14px;
}

.explain{

}

.explain h3{
    line-height: 20px;
    color: #F35F5D;
    font-size: 18px;
    padding: 0 10px;
    margin: 19px 0;
    border-left: 5px solid #F35F5D;
}